@font-face {
    font-family: 'Amsterdam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Amsterdam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maruburi';
    src: url('../resource/MaruBuri-Regular.woff2') format('woff2');
}

body {
    max-width: 800px;
    min-width: 300px;
}

img {
    width: 100%;
}

input {
    background-color: gainsboro;
    border:none;
    outline:none;
    height:34px;
    vertical-align:middle;
    position:relative;
    border-radius:5px;
    box-sizing:border-box;
    padding:0 18px;
    margin: 5px 0px;
}

input[type="button"] { 
    font-family: 'maruburi';
    background:#ffa0d4;
    color:#fff;
    position:relative;
    cursor:pointer;
}

.main_contents {
    font-family: 'Amsterdam';
    background-color: #f1f1f1;
    color: #3f4d64;
    font-weight: 900;
    margin: 2em;
    line-height: 0.8em;
}

.title {
    color: #3f4d64;
    font-size: 20pt;
    font-family: 'maruburi';
    margin: 35px 0px;
    text-align: center;
}

.exception {
    text-align: center;
    font-size: 2em;
    margin: 2em 0em;
}

.exception_button {
    text-decoration: none;
    color: white;
    background-color: #ffa0d4;
    padding: 1em;
    display: block;
    text-align: center;
    font-size: 14pt;
    border-radius: 50px;
    letter-spacing: 5px;
}

.game_btn {
    background-color: #f1c0c6;
    padding: 0.5em;
    margin: 2em 0em;
}

.game_btn_text {
    color: white;
    text-decoration-line: none;
    font-family: 'nanum-square';
}