@font-face {
    font-family: 'maruburi';
    src: url('./resource/MaruBuri-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('./resource/NanumMyeongjoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'nanum-square';
    src: url('./resource/NanumSquareNeoTTF-bRg.woff2') format('woff2');
}

@font-face {
    font-family: 'Amsterdam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Amsterdam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.icon_section {
    font-size: 20pt;
    color: #f1c0c6;
    font-weight: 900;
    margin: 30px 0px;
}

.main_title {
    font-family: 'maruburi';
    font-size: 20pt;
}

.main_comment {
    font-family: 'nanum-square';
}

.main_img {
    width: 100%;
}

.tell_icon {
    color: white;
    font-size: 18pt;
    text-decoration-line: none;
    margin: 0px 20px;
    background-color: #ffa0d4;
}

.sms_icon {
    color: white;
    font-size: 18pt;
    text-decoration-line: none;
    margin: 0px 20px;
    background-color: #009fff;
}

.call_background {
    padding: 10px;
    border-radius: 20px;
}

.map_btn {
    display: flex;
    text-decoration-line: none;
    color:white;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'nanum-square';
    font-weight: 900;
}

.sub_title {
    color: #3f4d64;
    font-size: 20pt;
    font-family: 'NanumMyeongjo';
    margin: 35px 0px;
}

.contents_section {
    background-color: #f1f1f1;
    height: 150px;
    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.contents_box {
    margin: 15px;
}

.middle_title {
    font-family: 'nanum-square';
    font-weight: 900;
    color: #3f4d64;
    margin: 10px 0px;
}

.content_style {
    color:#4b4b4b;
    font-size: 10pt;
    line-height: 1.7em;
}

.endding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-family: 'NanumMyeongjo';
    text-align: center;
    
}
.endding_cover {
    width: 100%;
    filter: brightness(50%);
}

.endding_frame {
    position: relative;
}

.game_btn {
    background-color: olive;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.game_btn_text {
    color: white;
    text-decoration-line: none;
    font-family: 'nanum-square';
    font-weight: 900;
}

/* 아코디언메뉴 */
details { 
    margin:5px 0 10px; 
}

details > summary { 
    background:#444; 
    color:#fff; padding:10px; outline:0; border-radius:5px; cursor:pointer; transition:background 0.5s; text-align:left; box-shadow: 1px 1px 2px gray;}
details > summary::-webkit-details-marker { 
    background:#444; 
    color:#fff; 
    background-size:contain; 
    transform:rotate3d(0, 0, 1, 90deg); 
    transition:transform 0.25s;
}

details[open] > summary::-webkit-details-marker { 
    transform:rotate3d(0, 0, 1, 180deg);
}

details[open] > summary { 
    background:#444;
}

details[open] > summary ~ * { 
    animation:reveal 0.5s;
}

.tpt { 
    background:#444; 
    color:#fff; 
    margin:5px 0 10px; 
    padding:5px 10px; 
    line-height:25px; 
    border-radius:5px; 
    box-shadow: 1px 1px 2px gray;
}

@keyframes reveal {
    from { opacity:0; transform:translate3d(0, -30px, 0); }
    to { opacity:1; transform:translate3d(0, 0, 0); }
}
  
/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Container for image text */
.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* Six columns side by side */
.column {
float: left;
width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}